/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* IBM watsonx.ai Brand Colors */
:root {
  --ifm-color-primary: #0f62fe;
  --ifm-color-primary-dark: #0353e9;
  --ifm-color-primary-darker: #0348d4;
  --ifm-color-primary-darkest: #002d9c;
  --ifm-color-primary-light: #4589ff;
  --ifm-color-primary-lighter: #5596ff;
  --ifm-color-primary-lightest: #78a9ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(15, 98, 254, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #78a9ff;
  --ifm-color-primary-dark: #5596ff;
  --ifm-color-primary-darker: #4589ff;
  --ifm-color-primary-darkest: #0f62fe;
  --ifm-color-primary-light: #a6c8ff;
  --ifm-color-primary-lighter: #bdd7ff;
  --ifm-color-primary-lightest: #d0e2ff;
  --docusaurus-highlighted-code-line-bg: rgba(120, 169, 255, 0.2);
}
